.container{
  width: 70%;
  border-left: 1px solid lightslategray;
  border-right: 1px solid lightslategray;
  padding: 30px;
}
h1{
  text-align: center;
}
input.ng-touched.ng-invalid{
  border: 1px solid rgb(205, 25, 25);
}
p{
  font-size: 14epx;
  color: rgb(205, 25, 25);
}
